[gcode_macro CLEAN_NOZZLE]
gcode:
    D118 CLEAN_NOZZLE {rawparams}

    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(150)|float %}
    {% set PASSES = params.PASSES|default(10)|int %}
    {% set START_X = params.START_Z|default(58)|float %}
    {% set START_Y = params.START_Y|default(434.75)|float %}
    {% set WAIT_Z = params.WAIT_Z|default(10)|float %}
    {% set WIPE_Z = params.WIPE_Z|default(2)|float %}
    {% set WIPE_DISTANCE = params.WIPE_DISTANCE|default(16)|float %}
    {% set Z_SPEED = params.Z_SPEED|default(600)|int %}
    {% set TRAVEL_SPEED = params.TRAVEL_SPEED|default(10000)|int %}
    {% set WIPE_SPEED = params.WIPE_SPEED|default(2000)|int %}
    {% set DWELL_DURATION = params.DWELL_DURATION|default(500)|int %}
    {% set BED_SIZE = params.BED_SIZE|default(430)|int %}
    {% set BRACKET_BUFFER = params.BRACKET_BUFFER|default(3)|int %}

    # Ensure START_Y is reachable and safe
    {% if printer.toolhead.axis_maximum.y < START_Y %}
        {% set START_Y = printer.toolhead.axis_maximum.y %}
    {% endif %}
    {% if START_Y < (BED_SIZE + BRACKET_BUFFER) %}
        {action_raise_error("A safe cleaning Y position can not be found.")}
    {% endif %}

    # Ensure the printer is homed
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        {action_raise_error("Please home the printer prior to cleaning the nozzle.")}
    {% endif %}

    # Set extruder temperature without waiting
    M104 S{EXTRUDER_TEMP}

    # Position the nozzle next to the wiper
    G90
    G1 Z{WAIT_Z} F{Z_SPEED}
    G1 X{START_X} Y{START_Y} F{TRAVEL_SPEED}

    # Wait for the nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

    # Lower the nozzle to cleaning height
    G1 Z{WIPE_Z} F{Z_SPEED}

    # Wipe the nozzle
    {% for wipe in range(PASSES) %}
        G1 X{START_X - WIPE_DISTANCE} F{WIPE_SPEED}
        G4 P{DWELL_DURATION}
        G1 X{START_X} F{WIPE_SPEED}
        G4 P{DWELL_DURATION}
    {% endfor %}

    # Raise the nozzle
    G1 Z{WAIT_Z} F{Z_SPEED}