[include eddy_probe_common.cfg]

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -34.85
y_offset: 29.38
tap_mode: butter
tap_samples: 5

[gcode_macro G28]
rename_existing: G28.1
gcode:
    D118 G28 {rawparams}

    G28.1 {rawparams}
    {% if not rawparams or (rawparams and 'Z' in rawparams) %}
        G90
        G0 Z2 F1000
        G4 S1
        M400
        PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1
        G0 Z5 F1000
    {% endif %}

[gcode_macro START_PRINT1]
gcode:
    D118 START_PRINT {rawparams}

    # Macro arguments
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set EXTRUDER_CLEAN_TEMP_CHANGE = params.EXTRUDER_CLEAN_TEMP_CHANGE|default(40)|float %}
    {% set SAFE_XY_TUPLE = printer.configfile.settings['safe_z_home'].home_xy_position %}
    {% set SAFE_X = SAFE_XY_TUPLE[0] %}
    {% set SAFE_Y = SAFE_XY_TUPLE[1] %}
    {% set TAP_X = SAFE_X + printer.configfile.settings['probe_eddy_ng btt_eddy'].x_offset %}
    {% set TAP_Y = SAFE_Y + printer.configfile.settings['probe_eddy_ng btt_eddy'].y_offset %}
    {% set PURGE_Y = printer.toolhead.axis_minimum.y + 1 %}
    {% set ADAPTIVE = params.ADAPTIVE|default(1)|int %}
    {% set ADAPTIVE_MARGIN = params.ADAPTIVE_MARGIN|default(10)|float %}
    {% set TAP_ADJUST_Z = params.TAP_ADJUST_Z|default(9999)|float %}

    # Stock PRINT_START macro
    STOCK_PRINT_START

    # Set speeds and rates
    M220 S100 ;Set the feed speed to 100%
    M221 S100 ;Set the flow rate to 100%

    # Clear any loaded bed meshes
    D118 Clearing any loaded bed meshes
    BED_MESH_CLEAR

    # Set the bed temperature and don't wait
    D118 Setting the bed temp to {BED_TEMP}
    M140 S{BED_TEMP}

    # Home the printer
    D118 Homing the printer
    G28

    # Set the bed temperature and wait
    D118 Setting the bed temp to {BED_TEMP}
    M190 S{BED_TEMP}

    # Clean the nozzle
    D118 Cleaning the nozzle with temp {EXTRUDER_TEMP - EXTRUDER_CLEAN_TEMP_CHANGE}
    CLEAN_NOZZLE EXTRUDER_TEMP={EXTRUDER_TEMP - EXTRUDER_CLEAN_TEMP_CHANGE}

    # Move to tap location
    D118 Moving to tap location
    G90
    G1 X{TAP_X} Y{TAP_Y} F6000

    # Perform tap
    D118 Doing tap
    {% if TAP_ADJUST_Z < 9999 %}
        PROBE_EDDY_NG_SET_TAP_ADJUST_Z VALUE={TAP_ADJUST_Z}
    {% endif %}
    PROBE_EDDY_NG_TAP

    # Set the extruder to printing temperature and wait
    D118 Setting extruder temperature to {EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}

[gcode_macro START_PRINT2]
gcode:
    D118 START_PRINT {rawparams}

    # Macro arguments
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set EXTRUDER_CLEAN_TEMP_CHANGE = params.EXTRUDER_CLEAN_TEMP_CHANGE|default(40)|float %}
    {% set SAFE_XY_TUPLE = printer.configfile.settings['safe_z_home'].home_xy_position %}
    {% set SAFE_X = SAFE_XY_TUPLE[0] %}
    {% set SAFE_Y = SAFE_XY_TUPLE[1] %}
    {% set TAP_X = SAFE_X + printer.configfile.settings['probe_eddy_ng btt_eddy'].x_offset %}
    {% set TAP_Y = SAFE_Y + printer.configfile.settings['probe_eddy_ng btt_eddy'].y_offset %}
    {% set PURGE_Y = printer.toolhead.axis_minimum.y + 1 %}
    {% set ADAPTIVE = params.ADAPTIVE|default(1)|int %}
    {% set ADAPTIVE_MARGIN = params.ADAPTIVE_MARGIN|default(10)|float %}

    # Create bed mesh
    D118 Creating the bed mesh
    {% if ADAPTIVE %}
        BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN={ADAPTIVE_MARGIN}
    {% else %}
        G29
    {% endif %}

    # Move to start of purge line
    D118 Moving to the start of the purge line
    G90
    G1 Z10 F300
    G1 X165 Y{PURGE_Y} F6000
    G1 Z0 F300

    # Set nozzle temperature and wait
    D118 Setting the extruder temp and waiting
    M109 S{EXTRUDER_TEMP}

    # Print purge line
    D118 Printing the purge line
    G90
    G92 E0 ;Reset Extruder
    G1 X165 Y{PURGE_Y} Z0.4 F300 ;Move to start position
    G1 X265 E30 F400 ;Draw the first line
    G1 Z0.6 F120.0
    G1 X270 F3000 ;Move to side a little
    G92 E0 ;Reset Extruder

[gcode_macro END_PRINT]
gcode:
    D118 END_PRINT {rawparams}

    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file
    {% set RUN_VELOCITY = printer.configfile.settings['printer'].max_velocity|float %}
    {% set RUN_ACCEL    = printer.configfile.settings['printer'].max_accel|float %}
    SET_VELOCITY_LIMIT VELOCITY={RUN_VELOCITY} ACCEL={RUN_ACCEL} #ACCEL_TO_DECEL={RUN_DECEL}

    M220 S100
    M221 S100

    G91 ;Relative positionning
    G1 E-2 F2700 ;Retract a bit

    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    BED_MESH_CLEAR

    # Move to end of print location
    G90
    {% set z = params.Z|default(100)|int %}
    {% if (printer.gcode_move.position.z+5) < z %}   #If the current gcode-Z position is less than the maximum limit position
        G1 Z{z+5} F6000 				      ; park nozzle at rear
    {% endif %}
    G1 X10 Y400 F6000

    TURN_OFF_HEATERS
    M107
    M84