[mcu eddy]
serial: /dev/serial/by-id/<REPLACE_WITH_EDDY_PROBE_SERIAL_ID>
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

[bed_mesh]
horizontal_move_z: 2
speed: 200
mesh_min: 20, 35
mesh_max: 390, 400
probe_count: 30, 30
algorithm: bicubic

[gcode_macro G29]
gcode:
    D118 G29 {rawparams}

    {% set mesh_min_tuple = printer.configfile.settings['bed_mesh'].mesh_min %}
    {% set mesh_min_x = mesh_min_tuple[0] %}
    {% set mesh_min_y = mesh_min_tuple[1] %}
    {% set mesh_min = mesh_min_x ~ ',' ~ mesh_min_y %}
    {% set mesh_max_tuple = printer.configfile.settings['bed_mesh'].mesh_max %}
    {% set mesh_max_x = mesh_max_tuple[0] %}
    {% set mesh_max_y = mesh_max_tuple[1] %}
    {% set mesh_max = mesh_max_x ~ ',' ~ mesh_max_y %}
    {% set probe_count_tuple = printer.configfile.settings['bed_mesh'].probe_count %}
    {% set probe_count_x = probe_count_tuple[0] %}
    {% set probe_count_y = probe_count_tuple[1] %}
    {% set probe_count = probe_count_x ~ ',' ~ probe_count_y %}

    # Determine profile name
    {% if probe_count_x == probe_count_y %}
        {% set profile = probe_count_x %}
    {% else %}
        {% set profile = probe_count_x ~ '_' ~ probe_count_y %}
    {% endif %}

    # Ensure the printer is homed
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        {action_raise_error("Please home the printer prior to cleaning the nozzle.")}
    {% endif %}

    M400
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=scan SCAN_MODE=detailed PROFILE={profile} mesh_min={mesh_min} mesh_max={mesh_max} probe_count={probe_count} algorithm=bicubic
    M400
    G4 P2000
    G91
    G1 Z5 F300
    G90
    G1 X215 Y215 F12000
    G1 Z10 F300